.title{
    font: bold; font-family: Arial, Helvetica, sans-serif;
}
.recipeoptions{
    font-size: 50px; 
}
.imageofme{
    width: 300px; margin: 20px; 
}
body{
    background-color: rgb(228, 143, 143); font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



.belowisapicture{
    margin: 20px; border: 5px black; padding: 5px; 
}